@charset "ISO-8859-1";

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
H1 {
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
H2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
CAPTION { font-weight: bold }
DIV.qindex {
	width: 100%;
/*	background-color: #eeeeff;*/
	background-image: url(images/header_back.gif);
	background-repeat: repeat-x;
	border: 1px solid #B0B0B0;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 120%;
}
A.qindex {
/*       text-decoration: none;
       font-weight: bold;
       color: #1A419D;*/
        text-decoration: none;
		font-size: smaller;
/*		cursor: pointer;
        color: #000000;
        font-weight: normal;
        background-image: url(images/edit_back2.gif);
        background-repeat: repeat-x;

/*      background-color: url(images/edit_back2.gif);*/
/*      padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-top-style: none;
        border-bottom-style: solid;
        border-left-style: none;
        border-right-style: solid;
        border-right-color: #555555;
		
        border-style: solid;
        border-width: 2px;
        border-color: #ffffff;*/

}
A.qindex:visited {
/*       text-decoration: none;
       font-weight: bold;
       color: #1A419D*/
}
A.qindex:hover {
	text-decoration: underline;
/*	background-color: #ddddff;*/
}
A.qindexHL {
	text-decoration: underline;
	font-weight: bold;
/*	background-color: #6666cc;
	border: 1px double #9295C2;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;*/
}
A.qindexHL:hover {
	text-decoration: none;
/*	background-color: #6666cc;*/
/*	color: #ffffff;*/
}
A.qindexHL:visited { /*text-decoration: none; background-color: #6666cc; color: #ffffff*/ }
A.el { text-decoration: none; font-weight: bold }
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #1A419D}
A.codeRef { font-weight: normal; color: #1A419D}
A:hover { color: #0066CC; text-decoration: underline; /*background-color: #f2f2ff*/ }
DL.el { margin-left: -1cm }
PRE.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
DIV.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding: 6px;
}
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
TD.md { background-color: #F4F4FB; font-weight: bold; }
TD.mdname1 { background-color: #F4F4FB; font-weight: bold; color: #602020; }
TD.mdname { background-color: #F4F4FB; font-weight: bold; color: #602020; width: 600px; }
DIV.groupHeader {
       margin-left: 16px;
       margin-top: 12px;
       margin-bottom: 6px;
       font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
DIV.groupText { margin-left: 16px; font-style: italic; font-size: smaller }
BODY {
	background: white;
	color: black;
	margin-right: 20px;
	margin-left: 20px;
}
TD.indexkey {
	background-color: #e5f1ff;
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TD.indexvalue {
	background-color: #e5f1ff;
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TR.memlist {
   background-color: #f0f0f0; 
}
P.formulaDsp { text-align: center; }
IMG.formulaDsp { }
IMG.formulaInl { vertical-align: middle; }
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
.mdTable {
	border: 1px solid #868686;
	background-color: #F4F4FB;
}
.mdRow {
	padding: 8px 10px;
}
.mdescLeft {
	font-size: smaller;
	font-style: italic;
	background-color: #FAFAFA;
	padding-left: 8px;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}
.mdescRight {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	font-style: normal/*italic*/;
	color: #555555;
	background-color: #FAFAFA;
	padding-left: 40px;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-right: 8px;
}
.memItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
}
.memItemRight {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
}
.search     { 
	/*color: #003399;*/
	color: #0066CC;
    font-weight: bold;
}
FORM.search {
              margin-bottom: 0px;
              margin-top: 0px;
}
INPUT.search { font-size: 75%;
               color: #000080;
               font-weight: normal;

/*				background-image: url(images/edit_back2.gif);
				background-repeat: repeat-x;
               background-color: #eeeeff;*/
			   background-color: transparent;
}
TD.tiny      { font-size: 75%;
}
a {
	color: #0066CC/*252E78*/;
}
a:visited {
	color: #0066CC/*3D2185*/;
}
